.login-card{
    margin-top: 50px;
    min-width: 250px;
    height: 390px;
    background: rgba(73, 73, 73, 0.91);
    padding: 30px;
    color: #FFEDED;
}

input{
    padding: 10px;
}

button{
    padding: 5px;
}