<div class="S01" style="padding: 0; margin: 0;">
    <div class="login-card">
      <div class="S01">
        <button class="dark-text"><img src="assets/images/google.svg">Sign In with Google</button>
      </div>
      <hr>
      <div class="S02">
        <label class="TextStyle01">Email</label>
      </div>
      <div class="S01">
          <input class="TS03 C00" type="text">
      </div>
      <div class="S02">
        <label class="TextStyle01">Password</label>
      </div>
      <div class="S01">
          <input class="TS03 C00" type="password">
      </div>
      <div class="S02 TS02" ><div class="Link" routerLink="reset-password">Forgot Password?</div></div>
      <div class="S01">
        <button class="TextStyle01 C00">Sign In</button>
      </div>
      <div class="S01 TS01">
        Sign Up
      </div>
    </div>
  </div>