/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Irish Grover&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

html, body {
    background: #363636;
    margin: 0;
    padding: 0;
}